.Gallery__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Gallery__slides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Gallery__slide {
    cursor: pointer;
    position: relative;
    display: block;
}

.Gallery__slide-current {
    width: 400px;
    height: 400px;
}

.Gallery__slide-current:first-of-type {
    margin-left: 340px;
}

.Gallery__slide-current:last-of-type {
    margin-right: 340px;
}

.Gallery__slide-control {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 20px;
    overflow: hidden;
    opacity: 0.5;
    transition: 300ms ease-in-out opacity;
}

.Gallery__slide-control:hover {
    opacity: 1;
}
